<div class="row">
    <div class="col-3">
        <!-- 사진 영역 -->
        <img src="{{url_for('static', filename='images/member/KSH.jpg')}}" width="200px">
    </div>
    <div class="col-8">
        <br>
        <!-- content -->
        컴퓨터 공학과를 졸업하고 개발👩‍💻에 관심이 많습니다!<br>
        스케이트보드🛹와 자전거🚲 타는 것을 좋아하고<br>
        도넛을 굉장히 좋아해 한 달에 한번 신메뉴가 나오면 꼭 먹는 &lt;🍩도넛 모임🍩&gt;을<br>
        하고 있습니다.<br><br>
    </div>
    <div class="col-1">
        <!-- etc -->
    </div>
</div>
<br>
<h3>✉️ Contact Me</h3>
<p style="font-size: 20px;">&nbsp;&nbsp;&nbsp;이메일 : astrapes@naver.com
    <br>&nbsp;&nbsp;&nbsp;github : https://github.com/astrapes <a href="https://github.com/astrapes"><img
            src="{{url_for('static', filename='images/member/GitHub-Mark-32px.png')}}"></a></p>
<br>
<h5><i class="fas fa-work"></i> 경력 사항</h5>
<table class="table">
    <thead>
        <tr>
            <th>회사명</th>
            <th>부서</th>
            <th>직종</th>
            <th>근무기간</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>대성로보텍</td>
            <td>기술제어팀</td>
            <td>산업용 로봇 시운전 및 시뮬레이션</td>
            <td>2016.07 ~ 2019.08</td>
        </tr>
    </tbody>
</table>
<br>
<h5><i class="fas fa-work-detail"></i> 경력 세부 사항</h5>
<table class="table">
    <thead>
        <tr>
            <th>담당 프로젝트</th>
            <th>기간</th>
            <th>내용</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>한화큐셀 진천공장</td>
            <td>17.06 ~ 17.08</td>
            <td>신규 모델 라인 시운전</td>
        </tr>
        <tr>
            <td>남양 장쑤공장</td>
            <td>17.09 ~ 17.09</td>
            <td>신규 모델 라인 시운전</td>
        </tr>
        <tr>
            <td>제일산업 안성공장</td>
            <td>17.09 ~ 17.10</td>
            <td>신규 모델 라인 시뮬레이션 및 시운전</td>
        </tr>
        <tr>
            <td>LG 이노텍 연태공장</td>
            <td>18.08 ~ 18.09</td>
            <td>신규 모델 라인 시운전 및 기존 라인 개조</td>
        </tr>
        <tr>
            <td>한화에어로스페이스 창원공장</td>
            <td>18.09 ~ 18.09</td>
            <td>신규 모델 라인 시운전</td>
        </tr>
        <tr>
            <td>제일 산업 발안공장</td>
            <td>19.06 ~ 19.07</td>
            <td>신규 모델 라인 시운전</td>
        </tr>
        <tr>
            <td>현대 아산공장</td>
            <td>19.07 ~ 19.07</td>
            <td>신규 모델 라인 시운전</td>
        </tr>
    </tbody>
</table>